.dashboard

  nav.navbar.navbar-dashboard.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        .navbar-brand Base 4
      .navbar-right
        ul.navbar-nav.nav
          li: a(ui-sref="dashboard.preferences")
            | Preferences
            i.fa.fa-gear
          li: a(href="mailto:frankrue@gmail.com")
            | Support
            i.fa.fa-envelope

  .container-fluid
    h1 Dashboard (main app container)
